* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  border: 15px solid transparent;
  border-image: url("../public/border.png") 20 repeat;
  width: 35%;
  height: 60%;
}

.snakeElement {
  background-color: rgb(76, 76, 76);
  width: 100%;
  height: 125%;
  border: dotted rgb(255, 239, 239) 5px;
}

.fruitElement {
  background-color: rgb(174, 64, 141);
  width: 100%;
  height: 125%;
  border: solid rgb(236, 72, 72) 3px;
}
