@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4d5c99;
}
#app {
  width: 35%;
  height: 60%;
}

.app {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
  border: 15px solid transparent;
  border-image: url("../public/border.png") 20 repeat;
}

.snakeElement {
  background-color: rgb(76, 76, 76);
  width: 100%;
  height: 125%;
  border: dotted rgb(255, 239, 239) 5px;
}

.fruitElement {
  background-color: rgb(174, 64, 141);
  width: 100%;
  height: 125%;
  border: solid rgb(236, 72, 72) 3px;
}
